.section-presentation {
  background-color: $gray-light;
  color: #fff;
  padding: $line-height-computed * 2;
}

.section-stbarth {
  padding: $line-height-computed;
  background-color: #fff;
}

.section-new-properties {
  padding: $line-height-computed;
  background-color: #fff;
}