.btn-search-collapse {
  input {
    font-size: 16px;
  }
}

/* FORM
-------------------------------------------------- */
.form-search-wrapper {
  padding: $line-height-computed;
}

.form-search {
  
  .form-control {
    background-color: #fff;
    color: $text-color;
    border: 1px solid #fff;
  }
  
  input, select, textarea {
    width: 100%;
  }
}

.tab-pane-sales {
  background-color: #40c7f4;
}

.tab-pane-rentals {
  background-color: #98bf3f;
}

#global-search-panel {
  background-color: $brand-success;
  .nav-pills {
    text-align: left;
    padding: 22px;
    
    > li {
      > a {
        color: $gray-lighter;
        background-color: #9a9b9d;
      }
      &.active {
        > a {
          color: white;
          background-color: $brand-primary;
          &:hover, 
          &:focus {
            color: white;
            background-color: #41c7f4;
          }
        }
      }
      &.bg-success.active {
        > a {
          color: white;
          background-color: $green-dark;
          &:hover, 
          &:focus {
            color: white;
            background-color: $green-dark;
          }
        }
      }
      &.bg-primary.active {
        > a {
          color: white;
          background-color: $blue-dark;
          &:hover, 
          &:focus {
            color: white;
            background-color: $blue-dark;
          }
        }
      }
    } 
    
  }
}
#global-search-panel.bg-primary {
  background-color: $brand-primary;
}
