

/* FORM
-------------------------------------------------- */
.form-search-wrapper {
  padding: $line-height-computed;
}

.form-search {
  
  .form-control {
    background-color: #fff;
    color: $text-color;
    border: 1px solid #fff;
  }
  
  input, select, textarea {
    width: 100%;
  }
  
  .last-row {
    .form-group {
      //margin-bottom: 0;
    }
  }
}

.tab-pane-sales {
  background-color: #40c7f4;
}

.tab-pane-rentals {
  background-color: #98bf3f;
}


#global-search-panel {

  .nav-pills {
    text-align: left;
    padding: 22px;
    
    > li {
      > a {
        color: $gray-lighter;
        background-color: #9a9b9d;
      }
      &.active {
        > a {
          color: white;
          background-color: $brand-primary;
          &:hover, 
          &:focus {
            color: white;
            background-color: #41c7f4;
          }
        }
      }
    } 
    
  }
}

