<%
    rand_id = "slider_#{rand(10000)}"
%>
<div class="flexslider" id="slider">
  <ul class="slides">
    <% images.each do |img| %>
      <%
        clazz = img.portrait? ? "img-vert" : "img-horiz"
        geom = case request.env['mobvious.device_type']
          when :mobile
            img.portrait? ? "x206" : "480x206#"
          when :tablet
            img.portrait? ? "x658" : "1024x658#"
          else
            img.portrait? ? "x732" : "1140x732#"
          end

        thumb = img.thumbnail(geom).url
      %>
      <li data-thumb="<%= thumb %>">
        <%= image_tag(thumb, :class => clazz) %>
      </li>
    <% end %>
  </ul>
</div><!--end of image slider-->
